////
/// Animation declarations
////

/// Splash animations
@keyframes splashOverlay {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    clip-path: circle(50% at 50% 0%);
  }
}

/// Default Shape animations
@keyframes shapeRotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-15deg) rotateZ(-5deg);
  }
}

@keyframes shapeFrameRotate {
  0% {
    transform: rotateZ(0deg);
    background-position: 100% 0%;
  }
  5% {
    transform: rotateZ(0deg);
    background-position: 100% 0%;
  }
  95% {
    transform: rotateZ(3deg);
    background-position: 0% 100%;
  }
  100% {
    transform: rotateZ(3deg);
    background-position: 100% 0%;
  }
}

@keyframes blockTitle {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blockDescription {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blockCta {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  40% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blockMedia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// Slider keyframes
@keyframes blockSliderList {
  0% {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }
  60% {
    transform: translate3d(0, 0, 0);
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blockSliderTitle {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blockSliderCta {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  40% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
