////
/// General theme configuration.
/// @group Configuration
////

/// Configuration for Drupal Admin tabs.
$drupal-tabs: (
  wrap: (
    background: #fafafa,
    border: #efefef
  ),
  link: (
    color: #251923,
    background: #efefef,
    hover-color: #ffffff,
    hover-background: #251923
  ),
  alt-colors: #b6c4c5 #575642 #4c4650 #251923
);

/// z-index organization.
/// See links below for more information.
///
/// @link https://css-tricks.com/handling-z-index/
/// @link http://www.sitepoint.com/using-sass-maps/
$z-layers: (
  skip-link: 8000,
  ajax-throbber: 7000,
  debug: 1000,
  above: 1,
  default: 0,
  under: -1,
  bottomless-pit: -9999,
  dropdown: 800,
  popup: 900,
);

/// Button config
$buttons: (
  _base: (
    background: $color-primary-600,
    color: $color-white,
    hover-background: $color-primary-700,
    hover-color: $color-white,
    active-background: $color-primary-400,
    active-color: $color-gray-900,
  ),
  primary: (
    extend: _base,
  )
);

/// Animations variables
$global-transition-duration: .15s;
$global-transition-timing-function: ease;

/// Links config
$links: (
  default: (
    color: $color-primary-400,
    font-weight: $global-weight-normal,
    hover-color: $color-primary-600,
    active-color: $color-primary-600,
  ),
  more: (
    color: $color-primary-600,
    font-weight: $global-weight-medium,
    hover-color: $color-primary-600,
    active-color: $color-gray-900,
  ),
  more-big: (
    color: $color-primary-600,
    font-weight: $global-weight-bold,
    hover-color: $color-primary-600,
    active-color: $color-gray-900,
  ),
  back: (
    color: $color-primary-600,
    font-weight: $global-weight-medium,
    hover-color: $color-primary-600,
    active-color: $color-gray-900,
  ),
  external: (
    color: $color-primary-600,
    font-weight: $global-weight-medium,
    hover-color: $color-primary-600,
    active-color: $color-primary-600,
  ),
);

/// Labels config
$labels: (
  default: (
    color: $color-gray-900,
    border-color: $color-primary-600,
    background-color: $color-gray-100,
    active-color: $color-gray-900,
    active-border-color: $color-primary-600,
    active-background-color: $color-gray-300,
  ),
);

/// Layouts
$layouts: (
  _base: (
    width: $global-width,
    gutters: $grid-column-gutter
  ),
  default: (
    extend: _base
  ),
);

/// Hr styles
$hr-styles: (
  green: (
    color: $color-linear-horizontal-green,
  ),
  purple: (
    color: $color-linear-horizontal-purple,
  ),
  blue: (
    color: $color-linear-horizontal-blue,
  ),
);
