////
/// Framework - Custom Style Patterns
/// @group frameworkComponents
////

@mixin node--full {
  @include content-width(default);
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(110);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(160);
  }

  .link--back {
    margin-bottom: 28px;
  }

  .node__title {
    margin-bottom: rem-calc(24);
  }

  h1.heading {
    @include heading(h1);

    line-height: 1;
    margin-bottom: 12px;
    max-width: 625px;
  }

  h4.heading {
    @include heading(h4);
  }

  .field-category {
    @include font-sizes(kicker-large);

    color: $color-gray-500;
    margin-bottom: 24px;
  }

  .field--name-field-intro {
    @include font-sizes(text-large);
  }

  .field-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    @include breakpoint(medium down) {
      flex-wrap: wrap;
    }

    .field-text {
      width: 100%;

      @include breakpoint(large up) {
        max-width: 668px;
        padding-right: 36px;
        width: 60%;
      }

      @include breakpoint(medium down) {
        order: 2;
      }
    }

    .field--name-field-image {
      text-align: right;
      overflow: hidden;
      margin-top: -99px;

      img {
        @include shape-image;
        @include banner-image;

        @include breakpoint(medium down) {
          transform: translate(18%, 0px);
        }

        @include breakpoint(small down) {
          height: auto;
          max-height: unset;
          max-width: unset;
        }
      }

      @include breakpoint(medium down) {
        margin-bottom: 52px;
        order: 1;
        width: 100%;
      }
    }
  }

  > .node__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > .field-content {
      width: 100%;

      @include breakpoint(large up) {
        padding-right: 36px;
        max-width: calc(100% - 304px);
        width: $global-width-narrow;
      }
    }

    > .field-info {
      width: 304px;

      @include breakpoint(medium down) {
        margin-top: 32px;
      }

      h4.heading {
        margin-bottom: 20px;
      }
    }

    .field-item-info {
      border-left: 4px solid $color-gray-100;
      margin-bottom: 48px;
      padding-left: 24px;

      &.mobile {
        margin-top: 32px;
      }

      .field--name-field-logo {
        margin-bottom: 16px;
        max-width: 116px;
        @include breakpoint(medium down) {
          display: inline-block;
          background-color: $color-gray-100;
          padding: 22px 18px;
        }
      }

      @include breakpoint(large up) {
        padding-left: 48px;
      }
    }
  }

  .mobile {
    @include breakpoint(medium up) {
      display: none;
    }
  }
  .desktop {
    @include breakpoint(small down) {
      display: none;
    }
  }
}

@mixin shape-image($inverse: false) {
  clip-path: polygon(12% 0, 87% 4%, 100% 61%, 79% 100%, 17% 95%, 0 42%);
  @if ($inverse == true) {
    //transform: scaleX(-1);
    clip-path: polygon(13% 3%, 89% 0, 100% 41%, 84% 95%, 21% 100%, 0 61%);
  }
}

@mixin banner-image($home-banner: false) {
  max-width: none;
  @if ($home-banner == true) {
    //margin: rem-calc(-62) rem-calc(-82) 0 0;
  } @else {
    margin: rem-calc(-62) rem-calc(-82) 0 0;
  }
  object-fit: cover;
  @include breakpoint(small down) {
    max-width: rem-calc(436);
    max-height: rem-calc(322);
    width: calc(100% + #{rem-calc(62)});
    height: 73.8532%;
  }
  @include breakpoint(medium only) {
    width: rem-calc(540);
    height: rem-calc(400);
    margin-right: 0;
  }
  @include breakpoint(large) {
    @if ($home-banner == true) {
      width: rem-calc(920);
      height: rem-calc(816);
      margin: rem-calc(-144) 0 0 rem-calc(-320);
    } @else {
      width: rem-calc(820);
      height: rem-calc(590);
      margin: rem-calc(-70) rem-calc(-236) 0 0;
    }
  }
}

@mixin cta-list() {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: rem-calc(16);
  @include breakpoint(medium) {
    row-gap: rem-calc(24);
  }

  > .field__item {
    &:not(:last-child) {
      margin-right: rem-calc(24);
      @include breakpoint(medium) {
        margin-right: rem-calc(48);
      }
    }
  }
}

$shapes: (
  default: (
    width: auto,
    height: auto,
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%),
  ),
) !default;

@mixin brand-shape($shape-name: default, $shape-el: true) {
  $shape-properties: extend-in-map($shapes, $shape-name);

  @if $shape-el == true {
    &::before {
      position: absolute;
      width: key($shape-properties, width);
      height: key($shape-properties, height);
      clip-path: key($shape-properties, path);
      content: '';
      z-index: z(under);
      @if map-has-key($shape-properties, color) {
        background: key($shape-properties, color);
      }

      @content;
    }
  } @else {
    clip-path: key($shape-properties, path);
    @if map-has-key($shape-properties, color) {
      background: key($shape-properties, color);
    }
    @content;
  }
}
