////
/// Framework - Custom Style Patterns
/// @group frameworkComponents
////

@mixin node--full {
  @include content-width(default);
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(110);
  @include breakpoint(medium) {
    margin-bottom: rem-calc(160);
  }

  .node__title {
    margin-bottom: rem-calc(24);
  }

  h1.heading {
    @include heading(h1);

    line-height: 1;
    margin-bottom: 12px;
    max-width: 625px;
  }

  h4.heading {
    @include heading(h4);
  }

  .field-category {
    @include font-sizes(kicker-large);

    color: $color-gray-500;
    margin-bottom: 24px;
  }

  .field--name-field-intro {
    @include font-sizes(text-large);
  }

  .field-text {
    width: 60%;
    max-width: 632px;
  }

  .field-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .link-small-external {
    @include link(external);
  }

  > .node__content {
    display: flex;
    justify-content: space-between;

    .field-content {
      padding-right: 36px;
      max-width: calc(100% - 304px);
      width: $global-width-narrow;
    }

    .field-info {
      width: 304px;

      > .field-item {
        border-left: 4px solid $color-gray-100;
        margin-bottom: 48px;
        padding-left: 48px;
      }

      .field--name-field-logo {
        margin-bottom: 16px;
      }

      h4.heading {
        margin-bottom: 20px;
      }
    }
  }
}
