# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/libraries
/docroot/sites/development.*
/docroot/sites/default/development.*
/docroot/sites/example.*
/docroot/sites/*/default.*
/docroot/sites/*/*.local.php
/docroot/sites/simpletest

# Ignore uploads.
/docroot/sites/default/files
/private

# Ignore Drupal scaffold.
/.editorconfig
/.gitattributes
/docroot/.csslintrc
/docroot/.editorconfig
/docroot/.eslintignore
/docroot/.eslintrc.json
/docroot/.gitattributes
/docroot/.gitignore
/docroot/.ht.router.php
/docroot/.htaccess
/docroot/autoload.php
/docroot/INSTALL.txt
/docroot/README.md
/docroot/example.gitignore
/docroot/index.php
/docroot/modules/README.txt
/docroot/profiles/README.txt
/docroot/robots.txt
/docroot/sites/README.txt
/docroot/themes/README.txt
/docroot/update.php
/docroot/web.config

# Ignore Composer-managed dependencies.
/vendor

# Ignore Vagrant virtual machine data.
/.vagrant

# Ignore local VM settings overrides.
/vm-settings.local.yml

# Ignore local Lando VM Settings
/.lando.local.yml
/.lando

# Ignore Platform.sh local cache.
.platform/local

# Ignore .env files as they are personal
/.env
