////
/// Splash screen
////

$_splash-background: $color-gray-300;

.splash {
  position: fixed;
  z-index: z(under);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $_splash-background;
  visibility: hidden;

  display: none;

  // Logo
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 140px;
    max-height: 90vh;
    transform: translate3d(-50%, -50%, 0);

    // Logo Overlay
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: 200%;
      transform: translate3d(-50%, -50%, 0);
      background: $_splash-background;
      content: '';
      z-index: z(above);
    }
  }

  // Hide splash for non-support browsers
  html.no-js & {
    display: none;
  }

  html.no-js body {
    visibility: visible;
    opacity: 1;
  }
}

// Show animation for relevant state
body {
  //visibility: hidden;
  //opacity: 0;
}

body.initialised-splash {
  visibility: visible;
  opacity: 1;

  .splash {
    &__logo {
      z-index: z(splash);

      &::before {
        animation: splashOverlay 1.5s linear 1s forwards;
      }
    }
  }
}
