////
/// Basic Banner block
////

.block--basic-banner {
  @include content-width(default);
  @include breakpoint(large) {
    display: flex;
    align-items: center;
  }

  .content {
    @include top-bottom(padding, 48px);
    @include breakpoint(large) {
      @include flex-grid-size(5);
      @include top-bottom(padding, 100px);
    }
    @include breakpoint(xlarge) {
      @include flex-grid-size(6);
    }
  }

  .field--name-field-media {
    position: relative;
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(48);
    }
    @include breakpoint(large) {
      @include flex-grid-size(5);
      order: 2;
    }
    @include breakpoint(xlarge) {
      @include flex-grid-size(6);
      @include grid-column-offset(1);
    }

    img {
      @include shape-image;
      @include banner-image;
    }
  }

  .field--name-field-heading {
    margin-bottom: rem-calc(24);
    @include breakpoint(large) {
      margin-top: rem-calc(20);
    }
  }

  .field--name-field-description {
    @include font-sizes(text-large);

    &:not(:last-child) {
      margin-bottom: rem-calc(24);
    }
  }

  .field--name-field-p-link {
    @include cta-list;
  }
}
