////
/// Header
////

.region-header {
  @include top-bottom(padding, rem-calc(20));
  position: relative;
  z-index: z(above);
  @include breakpoint(medium) {
    @include top-bottom(padding, rem-calc(32));
    height: rem-calc(104);
  }

  body:not(.path-frontpage) & {
    border-bottom: 1px solid $color-gray-300;
    background-color: $color-white;
  }

  .content {
    @include content-width(default);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block--system-branding-block {
    img {
      height: rem-calc(32);
      @include breakpoint(medium) {
        height: rem-calc(40);
      }
    }
  }
}
