////
/// Layout - Banner
////

.banner-layout {
  position: relative;

  body.is-home-banner & {
    margin-top: rem-calc(-72);
    @include breakpoint(medium) {
      margin-top: rem-calc(-104);
    }
  }

  body:not(.is-home-banner) {
    overflow: hidden;
  }
}
