{% extends "@partials/component/block.html.twig" %}

{% set rendered_content = content|without('field_media') %}

{% block content %}
  {{ content.field_media }}
  <div class="content">
    {{ rendered_content }}
  </div>
{% endblock %}
