////
/// Footer Top
////

.region-footer-top {
  overflow: hidden; // Hide shape block

  .content {
    @include flex-grid-row();
    position: relative;
    padding-top: rem-calc(56);
    padding-bottom: rem-calc(40);
    @include breakpoint(large) {
      padding-top: rem-calc(69);
      padding-bottom: rem-calc(32);
    }
    @include breakpoint(large) {
      display: grid;
      grid-template-columns: grid-column(7) grid-column(5);
      align-items: center;
    }
    @include breakpoint(xlarge) {
      grid-template-columns: grid-column(8) grid-column(4);
    }
    @include brand-shape(footer) {
      top: 0;
      min-width: 200vw;
      transform: translate3d(-100vw, 0, 0);
      @include breakpoint(medium) {
        transform: translate3d(-65vw, 0, 0);
      }
      @include breakpoint(large) {
        display: none;
      }
    }

    &::after {
      @include brand-shape(footer-frame);
    }
  }

  // Subscribe block
  .block-subscribe {
    position: relative;
    display: flex;
    align-items: center;
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      margin-bottom: rem-calc(40);
    }
    @include breakpoint(large) {
      @include grid-column-gutter;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      height: 100%;
    }
    @include brand-shape(footer) {
      top: rem-calc(-69);
      right: rem-calc(18);
      @include breakpoint(medium down) {
        display: none;
      }
    }

    .text {
      @include breakpoint(small down) {
        flex: 1 100%;
        margin-bottom: rem-calc(16);
      }
      @include breakpoint(medium) {
        margin-right: rem-calc(32);
      }
      @include breakpoint(xlarge) {
        margin-right: rem-calc(60);
      }
    }

    &__title {
      @include heading(h4);
      margin-bottom: 2px;
    }

    p {
      @include font-sizes(text-card);
      margin: 0;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      @include icon-before(mail-add) {
        margin-right: rem-calc(16);
        font-size: rem-calc(24);
      }
    }
  }

  .navigation__heading {
    @include font-sizes(kicker-small);
    margin-bottom: rem-calc(12);
    color: $color-gray-500;
    @include breakpoint(medium) {
      @include font-sizes(kicker-large);
    }
  }

  .menu--social {
    @include breakpoint(small down) {
      @include flex-grid-column(12);
    }
    @include breakpoint(medium only) {
      @include flex-grid-column(6);
    }
    @include breakpoint(large) {
      @include grid-column-gutter;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    &:not(:last-child) {
      margin-bottom: rem-calc(32);
      @include breakpoint(medium) {
        margin-bottom: rem-calc(24);
      }
    }
  }

  .menu--community {
    @include breakpoint(small down) {
      @include flex-grid-column(12);
    }
    @include breakpoint(medium only) {
      @include flex-grid-column(6);
    }
    @include breakpoint(large) {
      @include grid-column-gutter;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }
}
