////
/// Footer navigation
////

.menu--footer {
  .menu {
    display: flex;
    @include breakpoint(small down) {
      flex-direction: column;
    }

    &__item {
      @include font-sizes(text-small);

      &:not(:last-child) {
        @include breakpoint(small down) {
          margin-bottom: rem-calc(8);
        }
        @include breakpoint(medium) {
          margin-right: rem-calc(16);
        }
      }

      a {
        @include main-menu-item($mobile: true, $active-class: false);
      }
    }
  }

  &__toggle {
    @include replace-text-with-icon(menu, rem-calc(24));
    cursor: pointer;
    @include breakpoint(medium) {
      display: none;
    }

    &[aria-expanded="true"] {
      @include replace-text-with-icon(close, rem-calc(24));
      position: fixed;
      top: rem-calc(24);
      right: rem-calc(16);
      z-index: z(menu, icon);
      color: $color-white;
    }
  }
}
