.node--type-case {
  &.node--view-mode-teaser {
    white-space: normal;

    > a {
      display: block;
      min-height: 330px;
      background-color: $color-white;
      will-change: transform, box-shadow;
      transition: transform $global-transition-duration
          $global-transition-timing-function,
        box-shadow $global-transition-duration
          $global-transition-timing-function;
      box-shadow: 0 4px 24px rgba($color-black, 0.08);
      color: inherit;

      &:hover,
      &:focus {
        transform: translate3d(0, -8px, 0);
        box-shadow: 0 8px 24px rgba($color-black, 0.08);
      }

      &:active {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 2px 16px rgba($color-black, 0.08);
      }
    }

    .node__title {
      @include heading(h4);
    }

    .node__intro {
      padding: 20px 24px;
      @include breakpoint(medium) {
        padding: 24px 32px 32px;
      }
    }

    .field--name-body {
      @include font-sizes(text-card);
      margin-top: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .field--name-field-image {
      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    .field--name-field-category {
      @include font-sizes(kicker-small);
      margin-bottom: 12px;
    }
  }
}
